<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <form th:object="${jobForm}" method="post">

        <div class="form-group">
            <label th:for="name">Name</label>
            <input th:field="*{name}" />
            <div th:errors="*{name}"></div>
        </div>

        <div class="form-group">
            <label th:for="employerId">Employer</label>
            <select th:field="*{employerId}">
                <option th:each="employer : *{employers}"
                        th:value="${employer.id}"
                        th:text="${employer.value}"></option>
            </select>
        </div>

        <!-- TODONE #5 - Create <select> dropdowns for other job fields -->

        <div class="form-group">
            <label th:for="location">Location</label>
            <select th:field="*{location}">
                <option th:each="location : *{locations}"
                        th:value="${location}"
                        th:text="${location}"></option>
            </select>
        </div>

        <div class="form-group">
            <label th:for="coreCompetency">Core Competency</label>
            <select th:field="*{coreCompetency}">
                <option th:each="coreCompetency : *{coreCompetencies}"
                        th:value="${coreCompetency}"
                        th:text="${coreCompetency}"></option>
            </select>
        </div>

        <div class="form-group">
            <label th:for="positionType">Position Type</label>
            <select th:field="*{positionType}">
                <option th:each="positionType : *{positionTypes}"
                        th:value="${positionType}"
                        th:text="${positionType}"></option>
            </select>
        </div>

        <input type="submit" value="Add Job" />
    </form>

</div>

</body>
</html>